@import "tailwindcss";
@plugin "@tailwindcss/typography";

@variant standalone (@media (display-mode: standalone));

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  @apply dark:bg-slate-950 dark:text-white bg-slate-100 text-slate-900;
}

.bg-grid {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000' fill-opacity='0.15' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

@media (prefers-color-scheme: dark) {
  .bg-grid {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fff' fill-opacity='0.3' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  }
}

#__next {
  width: 100%;
  height: 100%;
}

.canvasContainer {
  position: relative;
  flex: 1;
}

.canvasContainer > canvas {
  width: 100%;
  height: 100%;
}

.controlPanelContainer {
  position: relative;
  overflow: hidden;
  height: 100%;
}

@keyframes slideDown {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

.animate-slideDown {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.animate-slideUp {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
